# UAS Politeknik Krakatau

- Nama: Fasyha Fauzia
- Kelas : TRPL Semester 3
- Dosen Pengampu : Yudistira Dwi Permana

### Percabangan

In [13]:
nilai = 75

penjelasan

In [14]:
# buatlah if output 75 menjadi nilai 
if nilai == 75:
    print("A")

A

penjelasan

In [10]:
# Buatlah if else output 75 menjadi nilai B
nilai = 75

if nilai >= 80:
    print("A")
else:
    print("B")

B

In [8]:
# Buatlah if elif else output 75 menjadi nilai C
nilai = 75

if nilai >= 85:
    print("Nilai A")
elif nilai >= 75:
    print("NIlai C")
else:
    print("Nilai D")

NIlai C

penjelasan

In [1]:
# lengkapkan kode di bawah ini
kata = ["Saya", "Suka", "Rpl"]
for i in kata :
    for j in range (1,3):
        print(i,j)

# buatkan output menjadi
# saya 1
# saya 2
# suka 1
# suka 2
# rpl 1
# rpl 2

Saya 1
Saya 2
Suka 1
Suka 2
Rpl 1
Rpl 2

penjelasan

In [15]:
# Break Statement
x = ['saya', 'suka', 'rpl', 'tapi', 'boong']
for i in x:
    # lengkapi kode di bawah ini
    if i == 'tapi':
        break
    print(i)
    
# buatkan output menjadi saya suka rpl

saya
suka
rpl